@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap);
.navbar-nav > li {
  box-shadow: 0 0 0.7px 1.7px rgba(73, 192, 208, 0.4) !important;
  background-color: rgba(73, 192, 208, 0.2) !important;
}

@media screen and (max-width: 1092px) {
  .navbar-nav > li {
    box-shadow: 0 0 14px 1.7px rgba(73, 192, 208, 0.4) !important;
    background-color: rgba(73, 192, 208, 0.2) !important;
  }
}
.logo-50 {
  border: 2px solid rgba(73, 192, 208, 0.5);
}
#invoice-footer {
  border: 2px solid rgba(73, 192, 208, 0.3) !important;
}
#preloader:before {
  border: 3px solid #49c0d0;
}
#preloader:after {
  border: 3px solid #49c0d0;
}
a:hover,
a:active {
  color: #49c0d0;
  text-decoration: none;
}
.thegold {
  background-color: rgba(73, 192, 208, 0.2);
}
.hermes.tparrows,
.hermes .tp-arr-allwrapper {
  border: 1.4px solid rgba(73, 192, 208, 0.4);
}
.hermes.tparrows:before,
.hermes .tp-arr-titleholder {
	color:#49c0d0;
}


@media screen and (max-width: 1092px) {
  .navbar-nav{
    border: 1.4px solid rgba(73, 192, 208, 0.7) !important;
    box-shadow: 0px 5px 10px 0px rgba(73, 192, 208, 0.7);
  }
  .navbar-nav li {
    border-bottom: 1.4px solid rgba(73, 192, 208, 0.3);
  }
  .navbar-toggler {
    border: 1.1px solid #49c0d0;
    box-shadow: 0 0 0 1.1px rgb(134, 213, 224)
  }
  .navbar-toggler:after {
    border-bottom: 2.5px solid #49c0d0;
  }
  .navbar-toggler:before {
    background: #49c0d0;
    border: 1.2px solid #49c0d0;
  }
  .navbar-toggler.menu-opened:after {
    background: #49c0d0;
  }
  .navbar-toggler.menu-opened:after {
    border: 1.4px solid #49c0d0 !important;
  }
  .navbar-toggler.menu-opened:before {
    border: 1.4px solid #49c0d0 !important;
  }
  .navbar-toggler:after {
    border-top: 2.5px solid #49c0d0;
  }
}
.attr-nav > ul > li.dropdown ul.dropdown-menu {
  border: 1.4px solid rgba(73, 192, 208, 0.7) !important;
  box-shadow: 0px 5px 10px 0px rgba(73, 192, 208, 0.7);
}
.attr-nav  > ul > li.dropdown ul.dropdown-menu li {
  border-bottom: 1.4px solid rgba(73, 192, 208, 0.3) !important;
}

.navbar-default {
  border-bottom: 2px solid rgba(73, 192, 208, 0.5);
}
.text-theme-color {
  color: #49c0d0;
}
blink {
  background: #fff;
  color: #49c0d0;
  border: 1.4px solid #49c0d0;
  box-shadow: 0 0 0 1.4px #fff;
  animation: blinkez 3s linear infinite;
}
@keyframes blinkez {
  0% {
    background: #fff;
    color: #49c0d0;
    border: 1.4px solid #49c0d0;
    box-shadow: 0 0 0 1.4px #fff;
  }
  50% {
    background: #49c0d0;
    color: #fff;
    border: 1.4px solid #fff;
    box-shadow: 0 0 0 1.4px #49c0d0;
  }
   100% {
    background: #fff;
    color: #49c0d0;
    border: 1.4px solid #49c0d0;
    box-shadow: 0 0 0 1.4px #fff;
  }
}
.scroll-to-top {
  border: 2px solid #49c0d0;
}
.scroll-to-top:hover {
  color: #49c0d0;
}
.scroll-to-top:hover i {
  color: #49c0d0;
}
.scroll-to-top:visited {
  color: #49c0d0;
}

.butn {
  border: 1.4px solid #49c0d0;
}

.butn:after {
  background: #49c0d0;
}
.butn.white:hover {
  border: 1.4px solid #49c0d0;
}
.butn.in-cart {
  border: 1.4px solid #49c0d0 !important;
}
.butn.in-cart:hover {
  border: 1.4px solid #49c0d0 !important;
}
.section-heading h4:after {
  background: #49c0d0;
}

.money,
.lesnar {
  border: 1.4px solid #49c0d0;
}
.butn.gold {
  border: 1.4px solid rgba(73, 192, 208, 0.8);
  background: rgb(219, 242, 246);
}
.navbar-nav li.nav-small.open a {
  background: #49c0d0;
  border: 1.4px solid rgb(219, 242, 246);
}
.navbar-nav li.nav-small.open a::after {
  background: rgb(219, 242, 246);
}
.port a.butn,
#jinaHolder,
#jinaHolder2 {
  color: rgb(194, 234, 239) !important;
}

#jinaHolder2::after {
  background: #86d5e0 !important;
}

.modal-content {
  border: 1.4px solid rgba(73, 192, 208, 0.5);
}

.progress-bar-striped {
	border: 0.7px solid rgba(73, 192, 208, 0.5) !important;
  box-shadow: 0 0 0 0.7px rgba(73, 192, 208, 0.7) !important;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #49c0d0;
}

#profileModal .modal-content,
#exampleModal .modal-content {
  background: rgba(32, 70, 90, 0.5) !important;
  border: 3px solid rgba(73, 192, 208, 0.3) !important;
}
#modalsend {
  background: rgba(73, 192, 208, 0.25) !important;
}

#vpn,
#loginBtn,
#services-carousel .owl-nav button,
.lesnar,
.gold,
.navbar-nav li.nav-small a,
#showtoasts,
#copy-text,
.money {
  background: rgb(182 230 236) !important;
  box-shadow: 0 0 0 1px rgb(164, 224, 232);
  color: rgb(27, 56, 77) !important;
}

.modal-body div p,
.account {
  border: 1.4px solid rgba(73, 192, 208, 0.3);
}

#exampleModal .modal-header .close img,
#profileModal .modal-header .close img,
.btn-remove {
  border: 1.4px solid rgba(73, 192, 208, 0.7);
}
#modal-check,
.modal-body {
  border: 2px solid rgba(73, 192, 208, 0.2);
}
#profileModal .modal-header {
  border-bottom: 2px solid rgba(73, 192, 208, 0.3);
  border-radius: 0 !important;
}


.navbar-nav li.nav-small.open a {
  border: 1.3px solid rgb(31, 67, 87) !important;
  background: rgb(164, 224, 232) !important;
  box-shadow: 0 0 0 1px rgb(134, 213, 224) !important;
}
#canvas {
  border: 1.4px solid #49c0d0;
}
#canvas:hover {
  box-shadow: 0 25px 30px 0 #49c0d0;
}

.money,
#services-carousel .owl-nav button,
#screen,
#mails {
  color: rgb(25, 49, 71) !important;
  border: 2.2px solid rgba(59, 151, 169, 0.7);
  background: linear-gradient(to bottom, #fff 30%, #49c0d0 100%) !important;
}

#vpn,
#showtoasts {
  background: linear-gradient(to bottom, #fff 0%, #c2ea45 100%) !important;
}


#text-to-copy,
.progress{
  border: 1.4px solid rgba(73, 192, 208, 0.5);
}

.pricing-list {
  box-shadow: 0 0 0 2px rgb(73, 192, 208, 0.5) !important;
  background: rgb(21, 36, 58);
}

.pricing-list.highlight {
  background: rgb(164, 224, 232);
  border: 2px solid  #3ea0b1 !important;
}

.pricing-list ul li:after {
  background: rgba(73, 192, 208, 0.25);
}

.pricing-list h2,
.pricing-list ul li {
  color: rgba(73, 192, 208, 0.8);
}
.pricing-list h2.text-white,
.pricing-list ul li.text-white {
  color: rgb(31, 67, 87) !important;
}
.pricing-list button {
  color: rgb(13, 76, 116) !important;
  border: 1.4px solid #49c0d0 !important;
}
.pricing-list.highlight button {
  color: rgb(31, 67, 87) !important;
  border: 1.4px solid rgb(31, 67, 87) !important;
}
.pricing-list.highlight button.white::after {
  background: rgb(31, 67, 87) !important;
}
.pricing-list ul li.text-white:nth-child(1)::-webkit-scrollbar-thumb {
  background: rgb(46, 111, 130)
}
.pricing-list.highlight ul li:after {
  background: rgba(46, 111, 130, 0.3);
}



.bro-text p:after{
	background: rgba(73, 192, 208, 0.9);
}

.port a img{
  border: 2px solid rgba(73, 192, 208, 0.5);
  border-bottom: none;
}
.port h4{
  border: 2px solid rgba(73, 192, 208, 0.3);
}
.port:hover {
  box-shadow: 0 3px 7px 0 rgba(73, 192, 208, 0.7);
}
#modalsend {
  border: 2px solid rgba(73, 192, 208, 0.2);
}

.logo-img {
  border: 1.4px solid rgba(73, 192, 208, 0.3);
}
#style-switcher {
  box-shadow: 0px 7px 21px 0 rgba(73, 192, 208, 0.3);
  border: 1.4px solid rgba(73, 192, 208, 0.3);
}
.filtering .butn {
  border: 1.4px solid rgba(73, 192, 208, 0.8);
  color: #49c0d0;
  background: rgb(21, 36, 58);
}
.filtering .butn.white:after{
  background: rgb(21, 36, 58);
}
.filtering .butn.white {
  background: linear-gradient(to bottom, #fff 0%, #49c0d0 120%); 
  color: rgb(31, 67, 87);
  border: 1.4px solid #49c0d0;
}
.filtering .butn.white > i {
  color: rgb(31, 67, 87);
}
.filtering .butn.white:hover{
  box-shadow: 0 1px 2px 0 #49c0d0;
  border: 1.4px solid #49c0d0;
  transform: scale(1.07);
  color: #49c0d0;
}
.filtering .butn > i {
  color: #49c0d0;
}
.filtering .butn.white:hover i{
  color: #49c0d0;
  transition: all 0.7s ease;
}

.google {
  background: rgb(164, 224, 232)
}


.cd-time-img {
  border: 1.4px solid #49c0d0;
  background: rgb(46, 111, 130)
}
.cd-time-content {
  border: 2px solid rgb(46, 111, 130)
}

span#span {
  color: rgb(210, 239, 52) !important
}

.gallery button.butn.white {
  background: linear-gradient(to bottom, #fff 60%, #b6e6ec 100%) !important;
  color: #255468 !important; 
}



::-webkit-scrollbar-thumb {
  background: rgb(109, 205, 217);
}


.dataTables_wrapper .dataTables_paginate .paginate_button{
  border: 2px solid #49c0d0;
  background-color:#49c0d0;
  background:linear-gradient(to bottom, #77d0dc 0%, #121d33 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  border: 2px solid #49c0d0;
  background:linear-gradient(to bottom, #fff 0%, #77d0dc 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  border: 2px solid #49c0d0;
  background:linear-gradient(to bottom, #fff 0%, #77d0dc 100%);
}




.banner-words-wrapper b {
  color: #49c0d0 !important;
}
.banner-headline .banner-words-wrapper:after {
  background: #49c0d0 !important;
}
