@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap);
.navbar-nav > li {
  box-shadow: 0 0 0.7px 1.7px rgba(71, 88, 143, 0.4) !important;
  background-color: rgba(71, 88, 143, 0.2) !important;
}
@media screen and (max-width: 1092px) {
  .navbar-nav > li {
    box-shadow: 0 0 14px 1.7px rgba(71, 88, 143, 0.4) !important;
    background-color: rgba(71, 88, 143, 0.2) !important;
  }
}
.logo-50 {
  border: 2px solid rgba(71, 88, 143, 0.5);
}

#invoice-footer {
  border: 2px solid rgba(71, 88, 143, 0.3) !important;
}
#preloader:before {
  border: 3px solid #47588f;
}
#preloader:after {
  border: 3px solid #47588f;
}
a:hover,
a:active {
  color: #47588f;
  text-decoration: none;
}

.thegold {
  background-color: rgba(71, 88, 143, 0.2);
}
.hermes.tparrows,
.hermes .tp-arr-allwrapper {
  border: 1.4px solid rgba(71, 88, 143, 0.4);
}
.hermes.tparrows:before,
.hermes .tp-arr-titleholder {
	color:#47588f;
}

@media screen and (max-width: 1092px) {
  .navbar-nav{
    border: 1.4px solid rgba(71, 88, 143, 0.7) !important;
    box-shadow: 0px 5px 10px 0px rgba(71, 88, 143, 0.7);
  }
  .navbar-nav li {
    border-bottom: 1.4px solid rgba(71, 88, 143, 0.3);
  }
  .navbar-toggler {
    border: 1.1px solid #47588f;
    box-shadow: 0 0 0 1.1px rgb(132, 144, 180)
  }
  .navbar-toggler:after {
    border-bottom: 2.5px solid #47588f;
  }
  .navbar-toggler:before {
    background: #47588f;
    border: 1.2px solid #47588f;
  }
  .navbar-toggler.menu-opened:after {
    background: #47588f;
  }
  .navbar-toggler.menu-opened:after {
    border: 1.4px solid #47588f !important;
  }
  .navbar-toggler.menu-opened:before {
    border: 1.4px solid #47588f !important;
  }
  .navbar-toggler:after {
    border-top: 2.5px solid #47588f;
  }
}
.attr-nav > ul > li.dropdown ul.dropdown-menu {
  border: 1.4px solid rgba(71, 88, 143, 0.7) !important;
  box-shadow: 0px 5px 10px 0px rgba(71, 88, 143, 0.7);
}
.attr-nav > ul > li.dropdown ul.dropdown-menu li {
  border-bottom: 1.4px solid rgba(71, 88, 143, 0.3) !important;
}
.navbar-default {
  border-bottom: 2px solid rgba(71, 88, 143, 0.5);
}

.text-theme-color {
  color: #47588f;
}
blink {
  background: #fff;
  color: #47588f;
  border: 1.4px solid #47588f;
  box-shadow: 0 0 0 1.4px #fff;
  animation: blinkez 3s linear infinite;
}
@keyframes blinkez {
  0% {
    background: #fff;
    color: #47588f;
    border: 1.4px solid #47588f;
    box-shadow: 0 0 0 1.4px #fff;
  }
  50% {
    background: #47588f;
    color: #fff;
    border: 1.4px solid #fff;
    box-shadow: 0 0 0 1.4px #47588f;
  }
   100% {
    background: #fff;
    color: #47588f;
    border: 1.4px solid #47588f;
    box-shadow: 0 0 0 1.4px #fff;
  }
}
.scroll-to-top {
  border: 2px solid #47588f;
}
.scroll-to-top:hover {
  color: #47588f;
}
.scroll-to-top:hover i {
  color: #47588f;
}
.scroll-to-top:visited {
  color: #47588f;
}

.butn {
  border: 1.4px solid #47588f;
}

.butn:after {
  background: #47588f;
}
.butn.white:hover {
  border: 1.4px solid #47588f;
}
.butn.in-cart {
  border: 1.4px solid #47588f !important;
}
.butn.in-cart:hover {
  border: 1.4px solid #47588f !important;
}
.section-heading h4:after {
  background: #47588f;
}

.money,
.lesnar {
  border: 1.4px solid #47588f;
}
.butn.gold {
  border: 1.4px solid rgba(71, 88, 143, 0.8);
  background: rgb(218, 222, 236);
}
.navbar-nav li.nav-small.open a {
  background: #47588f;
  border: 1.4px solid rgb(218, 222, 236);
}
.navbar-nav li.nav-small.open a::after {
  background: rgb(218, 222, 236);
}
.port a.butn,
#jinaHolder,
#jinaHolder2 {
  color: rgb(194, 199, 218) !important;
}

#jinaHolder2::after {
  background: #8490b5 !important;
}

.modal-content {
  border: 1.4px solid rgba(71, 88, 143, 0.5);
}

.progress-bar-striped {
	border: 0.7px solid rgba(71, 88, 143, 0.5) !important;
  box-shadow: 0 0 0 0.7px rgba(71, 88, 143, 0.7) !important;
}


.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #47588f;
}

#profileModal .modal-content,
#exampleModal .modal-content {
  background: rgba(36, 49, 82, 0.5) !important;
  border: 3px solid rgba(71, 88, 143, 0.3) !important;
}
#modalsend {
  background: rgba(71, 88, 143, 0.25) !important;
}

.lesnar,
.gold,
#vpn,
#loginBtn,
#services-carousel .owl-nav button,
.navbar-nav li.nav-small a,
#showtoasts,
#copy-text,
.money {
  background: rgb(216, 219, 231) !important;
  box-shadow: 0 0 0 1px rgb(163, 172, 199);
  color: rgb(27, 39, 66) !important;
}

.modal-body div p,
.account {
  border: 1.4px solid rgba(71, 88, 143, 0.3);
}

#exampleModal .modal-header .close img,
#profileModal .modal-header .close img,
.btn-remove {
  border: 1.4px solid rgba(71, 88, 143, 0.7);
}
#modal-check,
.modal-body {
  border: 2px solid rgba(71, 88, 143, 0.2);
}
#profileModal .modal-header {
  border-bottom: 2px solid rgba(71, 88, 143, 0.3);
  border-radius: 0 !important;
}

.navbar-nav li.nav-small.open a {
  border: 1.3px solid rgb(30, 43, 72) !important;
  background: rgb(163, 172, 200) !important;
  box-shadow: 0 0 0 1px rgb(132, 144, 180) !important;
}
#canvas {
  border: 1.4px solid #47588f;
}
#canvas:hover {
  box-shadow: 0 25px 30px 0 #47588f;
}

.money,
#services-carousel .owl-nav button,
#screen,
#mails {
  color: rgb(25, 36, 63) !important;
  border: 2.2px solid rgba(58, 73, 120, 0.7);
  background:linear-gradient(to bottom, #fff 30%, #47588f 100%) !important;
}

#vpn,
#showtoasts {
  color: rgb(25, 36, 63) !important;
  border: 2.2px solid rgba(58, 73, 120, 0.7);
  background: linear-gradient(to bottom, #fff 0%, #c2c730 100%) !important;
}

#text-to-copy,
.progress{
  border: 1.4px solid rgba(71, 88, 143, 0.5);
}

.pricing-list {
  box-shadow: 0 0 0 2px rgb(71, 88, 143, 0.5) !important;
  background: rgb(20, 32, 55);
}


.pricing-list.highlight {
  background: rgb(163, 172, 200);
  border: 2px solid #3e4e81 !important;
}

.pricing-list ul li:after {
  background: rgba(71, 88, 143, 0.25);
}


.pricing-list h2,
.pricing-list ul li {
  color: rgba(71, 88, 143, 0.8);
}
.pricing-list h2.text-white,
.pricing-list ul li.text-white {
  color: rgb(30, 43, 72) !important;
}
.pricing-list button {
  color: rgb(31, 44, 74) !important;
  border: 1.4px solid #47588f !important;
}
.pricing-list.highlight button {
  color: rgb(30, 43, 72) !important;
  border: 1.4px solid rgb(30, 43, 72) !important;
}
.pricing-list.highlight button.white::after {
  background: rgb(30, 43, 72) !important;
}
.pricing-list ul li.text-white:nth-child(1)::-webkit-scrollbar-thumb {
  background: rgb(45, 59, 97)
}
.pricing-list.highlight ul li:after {
  background: rgba(45, 59, 97, 0.3);
}





.bro-text p:after{
	background: rgba(71, 88, 143, 0.9);
}


.port a img{
  border: 2px solid rgba(71, 88, 143, 0.5);
  border-bottom: none;
}
.port h4{
  border: 2px solid rgba(71, 88, 143, 0.3);
}
.port:hover {
  box-shadow: 0 3px 7px 0 rgba(71, 88, 143, 0.7);
}
#modalsend {
  border: 2px solid rgba(71, 88, 143, 0.2);
}

.logo-img {
  border: 1.4px solid rgba(71, 88, 143, 0.3);
}
#style-switcher {
  box-shadow: 0px 7px 21px 0 rgba(71, 88, 143, 0.3);
  border: 1.4px solid rgba(71, 88, 143, 0.3);
}
.filtering .butn {
  border: 1.4px solid rgba(71, 88, 143, 0.8);
  color: #47588f;
  background: rgb(20, 32, 55);
}
.filtering .butn.white:after{
  background: rgb(20, 32, 55);
}
.filtering .butn.white {
  background: linear-gradient(to bottom, #fff 0%, #47588f 120%); 
  color: rgb(30, 43, 72);
  border: 1.4px solid #47588f;
}
.filtering .butn.white > i {
  color: rgb(30, 43, 72);
}
.filtering .butn.white:hover{
  box-shadow: 0 1px 2px 0 #47588f;
  border: 1.4px solid #47588f;
  transform: scale(1.07);
  color: #47588f;
}
.filtering .butn > i {
  color: #47588f;
}
.filtering .butn.white:hover i{
  color: #47588f;
  transition: all 0.7s ease;
}

.google {
  background: rgb(163, 172, 199)
}

.cd-time-img {
  border: 1.4px solid #47588f;
  background: rgb(45, 59, 97)
}
.cd-time-content {
  border: 2px solid rgb(45, 59, 97)
}

span#span {
  color: rgb(209, 213, 36) !important
}


.gallery button.butn.white {
  background: linear-gradient(to bottom, #fff 60%, #b5bcd3 100%) !important; 
  color: #243153 !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(108, 121, 165);
}


.dataTables_wrapper .dataTables_paginate .paginate_button{
  border: 2px solid #47588f;
  background-color:#47588f;
  background:linear-gradient(to bottom, #7582ac 0%, #121d33 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  border: 2px solid #47588f;
  background:linear-gradient(to bottom, #fff 0%, #7582ac 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  border: 2px solid #47588f;
  background:linear-gradient(to bottom, #fff 0%, #7582ac 100%);
}


.banner-words-wrapper b {
  color: #47588f !important;
}
.banner-headline .banner-words-wrapper:after {
  background: #47588f !important;
}
