@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap);
.navbar-nav > li {
  box-shadow: 0 0 0.7px 1.7px rgba(134, 188, 66, 0.4) !important;
  background-color: rgba(134, 188, 66, 0.2) !important;
}
@media screen and (max-width: 1092px) {
  .navbar-nav > li {
    box-shadow: 0 0 14px 1.7px rgba(134, 188, 66, 0.4) !important;
    background-color: rgba(134, 188, 66, 0.2) !important;
  }
}
.logo-50 {
  border: 2px solid rgba(134, 188, 66, 0.5);
}

#invoice-footer {
  border: 2px solid rgba(134, 188, 66, 0.3) !important;
}
#preloader:before {
  border: 3px solid #86bc42;
}
#preloader:after {
  border: 3px solid #86bc42;
}
a:hover,
a:active {
  color: #86bc42;
  text-decoration: none;
}
.thegold {
  background-color: rgba(134, 188, 66, 0.2);
}
.hermes.tparrows,
.hermes .tp-arr-allwrapper {
  border: 1.4px solid rgba(134, 188, 66, 0.4);
}
.hermes.tparrows:before,
.hermes .tp-arr-titleholder {
	color:#86bc42;
}

@media screen and (max-width: 1092px) {
  .navbar-nav{
    border: 1.4px solid rgba(134, 188, 66, 0.7) !important;
    box-shadow: 0px 5px 10px 0px rgba(134, 188, 66, 0.7);
  }
  .navbar-nav li {
    border-bottom: 1.4px solid rgba(134, 188, 66, 0.3);
  }
  .navbar-toggler {
    border: 1.1px solid #86bc42;
    box-shadow: 0 0 0 1.1px rgb(174, 210, 129)
  }
  .navbar-toggler:after {
    border-bottom: 2.5px solid #86bc42;
  }
  .navbar-toggler:before {
    background: #86bc42;
    border: 1.2px solid #86bc42;
  }
  .navbar-toggler.menu-opened:after {
    background: #86bc42;
  }
  .navbar-toggler.menu-opened:after {
    border: 1.4px solid #86bc42 !important;
  }
  .navbar-toggler.menu-opened:before {
    border: 1.4px solid #86bc42 !important;
  }
  .navbar-toggler:after {
    border-top: 2.5px solid #86bc42;
  }
}
.attr-nav > ul > li.dropdown ul.dropdown-menu {
  border: 1.4px solid rgba(134, 188, 66, 0.7) !important;
  box-shadow: 0px 5px 10px 0px rgba(134, 188, 66, 0.7);
}
.attr-nav > ul > li.dropdown ul.dropdown-menu li {
  border-bottom: 1.4px solid rgba(134, 188, 66, 0.3) !important;
}
.navbar-default {
  border-bottom: 2px solid rgba(134, 188, 66, 0.5);
}

.text-theme-color {
  color: #86bc42;
}
blink {
  background: #fff;
  color: #86bc42;
  border: 1.4px solid #86bc42;
  box-shadow: 0 0 0 1.4px #fff;
  animation: blinkez 3s linear infinite;
}
@keyframes blinkez {
  0% {
    background: #fff;
    color: #86bc42;
    border: 1.4px solid #86bc42;
    box-shadow: 0 0 0 1.4px #fff;
  }
  50% {
    background: #86bc42;
    color: #fff;
    border: 1.4px solid #fff;
    box-shadow: 0 0 0 1.4px #86bc42;
  }
   100% {
    background: #fff;
    color: #86bc42;
    border: 1.4px solid #86bc42;
    box-shadow: 0 0 0 1.4px #fff;
  }
}

.scroll-to-top {
  border: 2px solid #86bc42;
}
.scroll-to-top:hover {
  color: #86bc42;
}
.scroll-to-top:hover i {
  color: #86bc42;
}
.scroll-to-top:visited {
  color: #86bc42;
}

.butn {
  border: 1.4px solid #86bc42;
}

.butn:after {
  background: #86bc42;
}
.butn.white:hover {
  border: 1.4px solid #86bc42;
}
.butn.in-cart {
  border: 1.4px solid #86bc42 !important;
}
.butn.in-cart:hover {
  border: 1.4px solid #86bc42 !important;
}
.section-heading h4:after {
  background: #86bc42;
}
.money,
.lesnar {
  border: 1.4px solid #86bc42;
}
.butn.gold {
  border: 1.4px solid rgba(134, 188, 66, 0.8);
  background: rgb(231, 242, 217);
}
.navbar-nav li.nav-small.open a {
  background: #86bc42;
  border: 1.4px solid rgb(231, 242, 217);
}
.navbar-nav li.nav-small.open a::after {
  background: rgb(231, 242, 217);
}
.port a.butn,
#jinaHolder,
#jinaHolder2 {
  color: rgb(215, 233, 192) !important;
}


#jinaHolder2::after {
  background: #aed381 !important;
}

.modal-content {
  border: 1.4px solid rgba(134, 188, 66, 0.5);
}

.progress-bar-striped {
	border: 0.7px solid rgba(134, 188, 66, 0.5) !important;
  box-shadow: 0 0 0 0.7px rgba(134, 188, 66, 0.7) !important;
}



.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #86bc42;
}

.filtering .butn {
  border: 1.4px solid rgba(134, 188, 66, 0.8);
  color: #86bc42;
  background: rgb(23, 36, 52);
}
.filtering .butn.white:after{
  background: rgb(23, 36, 52);
}
.filtering .butn.white {
  background: linear-gradient(to bottom, #fff 0%, #86bc42 120%); 
  color: rgb(45, 66, 54);
  border: 1.4px solid #86bc42;
}
.filtering .butn.white > i {
  color: rgb(45, 66, 54);
}
.filtering .butn.white:hover{
  box-shadow: 0 1px 2px 0 #86bc42;
  border: 1.4px solid #86bc42;
  transform: scale(1.07);
  color: #86bc42;
}
.filtering .butn > i {
  color: #86bc42;
}
.filtering .butn.white:hover i{
  color: #86bc42;
  transition: all 0.7s ease;
}

#profileModal .modal-content,
#exampleModal .modal-content {
  background: rgba(57, 82, 56, 0.5) !important;
  border: 3px solid rgba(134, 188, 66, 0.3) !important;
}
#modalsend {
  background: rgba(134, 188, 66, 0.25) !important;
}

#vpn,
#loginBtn,
.lesnar,
#services-carousel .owl-nav button,
.gold,
.navbar-nav li.nav-small a,
#showtoasts,
#copy-text,
.money {
  background: rgb(229, 241, 215) !important;
  box-shadow: 0 0 0 1px rgb(195, 222, 161);
  color: rgb(37, 56, 54) !important;
}

.modal-body div p,
.account {
  border: 1.4px solid rgba(134, 188, 66, 0.3);
}

#exampleModal .modal-header .close img,
#profileModal .modal-header .close img,
.btn-remove {
  border: 1.4px solid rgba(134, 188, 66, 0.7);
}
#modal-check,
.modal-body {
  border: 2px solid rgba(134, 188, 66, 0.2);
}
#profileModal .modal-header {
  border-bottom: 2px solid rgba(134, 188, 66, 0.3);
}

.navbar-nav li.nav-small.open a {
  border: 1.3px solid rgb(45, 66, 54) !important;
  background: rgb(195, 222, 161) !important;
  box-shadow: 0 0 0 1px rgb(174, 210, 129) !important;
}
#canvas {
  border: 1.4px solid #86bc42;
}
#canvas:hover {
  box-shadow: 0 25px 30px 0 #86bc42;
}

.money,
#services-carousel .owl-nav button,
#screen,
#mails {
  color: rgb(33, 49, 53) !important;
  border: 2.2px solid rgba(105, 148, 62, 0.7);
  background:linear-gradient(to bottom, #fff 30%, #86bc42 100%) !important;
}

#vpn,
#showtoasts {
  color: rgb(33, 49, 53) !important;
  border: 2.2px solid rgba(105, 148, 62, 0.7);
  background: linear-gradient(to bottom, #fff 0%, #d7e916 100%) !important;
}

#text-to-copy,
.progress{
  border: 1.4px solid rgba(134, 188, 66, 0.5);
}

.pricing-list {
  box-shadow: 0 0 0 2px rgb(134, 189, 66, 0.5) !important;
  background: rgb(23, 36, 52);
}
.pricing-list.highlight {
  background: rgb(182, 215, 142);
  border: 2px solid #73a340 !important;
}

.pricing-list ul li:after {
  background: rgba(134, 188, 66, 0.25);
}
.pricing-list h2,
.pricing-list ul li {
  color: rgba(134, 188, 66, 0.8);
}
.pricing-list h2.text-white,
.pricing-list ul li.text-white {
  color: rgb(45, 66, 54) !important;
}
.pricing-list button {
  color: rgb(47, 69, 55) !important;
  border: 1.4px solid #86bc42 !important;
}
.pricing-list.highlight button {
  color: rgb(45, 66, 54) !important;
  border: 1.4px solid rgb(45, 66, 54) !important;
}
.pricing-list.highlight button.white::after {
  background: rgb(45, 66, 54) !important;
}
.pricing-list ul li.text-white:nth-child(1)::-webkit-scrollbar-thumb {
  background: rgb(76, 109, 59)
}
.pricing-list.highlight ul li:after {
  background: rgba(76, 109, 59, 0.3);
}




.bro-text p:after{
	background: rgba(134, 188, 66, 0.9);
}


.port a img{
  border: 2px solid rgba(134, 188, 66, 0.5);
  border-bottom: none;
}
.port h4{
  border: 2px solid rgba(134, 188, 66, 0.3);
}
.port:hover {
  box-shadow: 0 3px 7px 0 rgba(134, 188, 66, 0.7);
}
#modalsend {
  border: 2px solid rgba(134, 188, 66, 0.2);
}
.logo-img {
  border: 1.4px solid rgba(134, 188, 66, 0.3);
}
#style-switcher {
  box-shadow: 0px 7px 21px 0 rgba(134, 188, 66, 0.3);
  border: 1.4px solid rgba(134, 188, 66, 0.3);
}

.google {
  background: rgb(195, 222, 161)
}



.cd-time-img {
  border: 1.4px solid #86bc42;
  background: rgb(76, 109, 59)
}
.cd-time-content {
  border: 2px solid rgb(76, 109, 59)
}

span#span {
  color: rgb(225, 239, 17) !important
}

.gallery button.butn.white {
  background: linear-gradient(to bottom, #fff 60%, #cfe5b3 100%) !important; 
  color: #395339 !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(158, 201, 104);
}


.dataTables_wrapper .dataTables_paginate .paginate_button{
  border: 2px solid #86bc42;
  background-color:#86bc42;
  background:linear-gradient(to bottom, #a4ce71 0%, #121d33 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  border: 2px solid #86bc42;
  background:linear-gradient(to bottom, #fff 0%, #a4ce71 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  border: 2px solid #86bc42;
  background:linear-gradient(to bottom, #fff 0%, #a4ce71 100%);
}


.banner-words-wrapper b {
  color: #86bc42 !important;
}
.banner-headline .banner-words-wrapper:after {
  background: #86bc42 !important;
}
