@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap);
.navbar-nav > li {
  box-shadow: 0 0 0.7px 1.7px rgba(250, 183, 2, 0.4) !important;
  background-color: rgba(250, 183, 2, 0.2) !important;
}
@media screen and (max-width: 1092px) {
  .navbar-nav > li {
    box-shadow: 0 0 14px 1.7px rgba(250, 183, 2, 0.4) !important;
    background-color: rgba(250, 183, 2, 0.2) !important;
  }
}
.logo-50 {
  border: 2px solid rgba(250, 183, 2, 0.5);
}

#invoice-footer {
  border: 2px solid rgba(250, 183, 2, 0.3) !important;
}
#preloader:before {
  border: 3px solid #fab702;
}
#preloader:after {
  border: 3px solid #fab702;
}
a:hover,
a:active {
  color: #fab702;
  text-decoration: none;
}

.thegold {
  background-color: rgba(250, 183, 2, 0.2);
}
.hermes.tparrows,
.hermes .tp-arr-allwrapper {
  border: 1.4px solid rgba(250, 183, 2, 0.4);
}
.hermes.tparrows:before,
.hermes .tp-arr-titleholder {
	color:#fab702;
}

@media screen and (max-width: 1092px) {
  .navbar-nav{
    border: 1.4px solid rgba(250, 183, 2, 0.7) !important;
    box-shadow: 0px 5px 10px 0px rgba(250,183, 2, 0.7);
  }
  .navbar-nav li {
    border-bottom: 1.4px solid rgba(250, 183, 2, 0.3);
  }
  .navbar-toggler {
    border: 1.1px solid #fab702;
    box-shadow: 0 0 0 1.1px rgb(252, 207, 86)
  }
  .navbar-toggler:after {
    border-bottom: 2.5px solid #fab702;
  }
  .navbar-toggler:before {
    background: #fab702;
    border: 1.2px solid #fab702;
  }
  .navbar-toggler.menu-opened:after {
    background: #fab702;
  }
  .navbar-toggler.menu-opened:after {
    border: 1.4px solid #fab702 !important;
  }
  .navbar-toggler.menu-opened:before {
    border: 1.4px solid #fab702 !important;
  }
  .navbar-toggler:after {
    border-top: 2.5px solid #fab702;
  }
}
.attr-nav > ul > li.dropdown ul.dropdown-menu {
  border: 1.4px solid rgba(250, 183, 2, 0.7) !important;
  box-shadow: 0px 5px 10px 0px rgba(250,183, 2, 0.7);
}
.attr-nav > ul > li.dropdown ul.dropdown-menu li {
  border-bottom: 1.4px solid rgba(250, 183, 2, 0.3) !important;
}
.navbar-default {
  border-bottom: 2px solid rgba(250, 183, 2, 0.5);
}

.text-theme-color {
  color: #fab702;
}
blink {
  background: #fff;
  color: #fab702;
  border: 1.4px solid #fab702;
  box-shadow: 0 0 0 1.4px #fff;
  animation: blinkez 3s linear infinite;
}
@keyframes blinkez {
  0% {
    background: #fff;
    color: #fab702;
    border: 1.4px solid #fab702;
    box-shadow: 0 0 0 1.4px #fff;
  }
  50% {
    background: #fab702;
    color: #fff;
    border: 1.4px solid #fff;
    box-shadow: 0 0 0 1.4px #fab702;
  }
   100% {
    background: #fff;
    color: #fab702;
    border: 1.4px solid #fab702;
    box-shadow: 0 0 0 1.4px #fff;
  }
}

.scroll-to-top {
  border: 2px solid #fab702;
}
.scroll-to-top:hover {
  color: #fab702;
}
.scroll-to-top:hover i {
  color: #fab702;
}
.scroll-to-top:visited {
  color: #fab702;
}

.butn {
  border: 1.4px solid #fab702;
}

.butn:after {
  background: #fab702;
}
.butn.white:hover {
  border: 1.4px solid #fab702;
}
.butn.in-cart {
  border: 1.4px solid #fab702 !important;
}
.butn.in-cart:hover {
  border: 1.4px solid #fab702 !important;
}
.section-heading h4:after {
  background: #fab702;
}

.money,
.lesnar {
  border: 1.4px solid #fab702;
}
.butn.gold {
  border: 1.4px solid rgba(250, 183, 2, 0.8);
  background: rgb(254, 241, 204);
}
.navbar-nav li.nav-small.open a {
  background: #fab702;
  border: 1.4px solid rgb(254, 241, 204);
}
.navbar-nav li.nav-small.open a::after {
  background: rgb(254, 241, 204);
}
.port a.butn,
#jinaHolder,
#jinaHolder2 {
  color: rgb(253, 231, 171) !important;
}
#jinaHolder2::after {
  background: #face56 !important;
}

.modal-content {
  border: 1.4px solid rgba(250, 183, 2, 0.5);
}

.progress-bar-striped {
	border: 0.7px solid rgba(250, 183, 2, 0.5) !important;
  box-shadow: 0 0 0 0.7px rgba(250, 183, 2, 0.7) !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fab702;
}

#profileModal .modal-content,
#exampleModal .modal-content {
  background: rgba(95, 80, 35, 0.5) !important;
  border: 3px solid rgba(250, 183, 2, 0.3) !important;
  box-shadow: 0px 5px 10px 0px rgba(250, 183, 2, 0.5);
}
#modalsend {
  background: rgba(250, 183, 2, 0.25) !important;
}

#vpn,
#loginBtn,
#services-carousel .owl-nav button,
.lesnar,
.gold,
.navbar-nav li.nav-small a,
#showtoasts,
#copy-text,
.money {
  background: rgb(254, 240, 201) !important;
  box-shadow: 0 0 0 1px rgb(253, 219, 129);
  color: rgb(57, 55, 43) !important;
}

.modal-body div p,
.account {
  border: 1.4px solid rgba(250, 183, 2, 0.3);
}

#exampleModal .modal-header .close img,
#profileModal .modal-header .close img,
.btn-remove {
  border: 1.4px solid rgba(250, 183, 2, 0.7);
}
#modal-check,
.modal-body {
  border: 2px solid rgba(250, 183, 2, 0.2);
}
#profileModal .modal-header {
  border-bottom: 2px solid rgba(250, 183, 2, 0.3);
  border-radius: 0 !important;
}


.navbar-nav li.nav-small.open a {
  border: 1.3px solid rgb(72, 65, 40) !important;
  background: rgb(251, 219, 129) !important;
  box-shadow: 0 0 0 1px rgb(252, 207, 86) !important;
}
#canvas {
  border: 1.4px solid #fab702;
}
#canvas:hover {
  box-shadow: 0 25px 30px 0 #fab702;
}

.money,
#services-carousel .owl-nav button,
#screen,
#mails {
  color: rgb(47, 48, 45) !important;
  border: 2.2px solid rgba(192, 145, 14, 0.7);
  background:linear-gradient(to bottom, #fff 30%, #fab702 100%) !important;
}

#vpn,
#showtoasts {
  color: rgb(47, 48, 45) !important;
  border: 2.2px solid rgba(192, 145, 14, 0.7);
  background: linear-gradient(to bottom, #fff 0%, #fce701 100%) !important;
}

#text-to-copy,
.progress{
  border: 1.4px solid rgba(250, 183, 2, 0.5);
}

.pricing-list {
  box-shadow: 0 0 0 2px rgb(250, 183, 2, 0.5) !important;
  background: rgb(29, 36, 49);
}

.pricing-list.highlight {
  background: rgb(251, 219, 129);
  border: 2px solid #d19d0a !important;
}

.pricing-list ul li:after {
  background: rgba(250, 183, 2, 0.25);
}


.pricing-list h2,
.pricing-list ul li {
  color: rgba(250, 183, 2, 0.8);
}
.pricing-list h2.text-white,
.pricing-list ul li.text-white {
  color: rgb(72, 65, 40) !important;
}
.pricing-list button {
  color: rgb(76, 68, 39) !important;
  border: 1.4px solid #fab702 !important;
}
.pricing-list.highlight button {
  color: rgb(72, 65, 40) !important;
  border: 1.4px solid rgb(72, 65, 40) !important;
}
.pricing-list.highlight button.white::after {
  background: rgb(72, 65, 40) !important;
}
.pricing-list ul li.text-white:nth-child(1)::-webkit-scrollbar-thumb {
  background: rgb(134, 106, 27)
}
.pricing-list.highlight ul li:after {
  background: rgba(134, 106, 27, 0.3);
}





.bro-text p:after{
	background: rgba(250, 183, 2, 0.9);
}


.port a img{
  border: 2px solid rgba(250, 183, 2, 0.5);
  border-bottom: none;
}
.port h4{
  border: 2px solid rgba(250, 183, 2, 0.3);
}
.port:hover {
  box-shadow: 0 3px 7px 0 rgba(250, 183, 2, 0.7);
}
#modalsend {
  border: 2px solid rgba(250, 183, 2, 0.2);
}

.logo-img {
  border: 1.4px solid rgba(250, 183, 2, 0.3);
}
#style-switcher {
  box-shadow: 0px 7px 21px 0 rgba(250, 183, 2, 0.3);
  border: 1.4px solid rgba(250, 183, 2, 0.3);
}
.filtering .butn {
  border: 1.4px solid rgba(250, 183, 2, 0.8);
  color: #fab702;
  background: rgb(29, 36, 49);
}
.filtering .butn.white:after{
  background: rgb(29, 36, 49);
}
.filtering .butn.white {
  background: linear-gradient(to bottom, #fff 0%, #fab702 150%); 
  color: rgb(72, 65, 40);
  border: 1.4px solid #fab702;
}
.filtering .butn.white > i {
  color: rgb(72, 65, 40);
}
.filtering .butn.white:hover{
  box-shadow: 0 1px 2px 0 #fab702;
  border: 1.4px solid #fab702;
  transform: scale(1.07);
  color: #fab702;
}
.filtering .butn > i {
  color: #fab702;
}
.filtering .butn.white:hover i{
  color: #fab702;
  transition: all 0.7s ease;
}
.google {
  background: rgb(253, 219, 129)
}

.cd-time-img {
  border: 1.4px solid #fab702;
  background: rgb(134, 106, 27)
}
.cd-time-content {
  border: 2px solid rgb(134, 106, 27)
}

span#span {
  color: rgb(253, 237, 1) !important
}


.gallery button.butn.white {
  background: linear-gradient(to bottom, #fff 60%, #fce29a 100%) !important; 
  color: #5f5123 !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(251, 197, 53);
}


.dataTables_wrapper .dataTables_paginate .paginate_button{
  border: 2px solid #fab702;
  background-color:#fab702;
  background:linear-gradient(to bottom, #f9c841 0%, #121d33 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  border: 2px solid #fab702;
  background:linear-gradient(to bottom, #fff 0%, #f9c841 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  border: 2px solid #fab702;
  background:linear-gradient(to bottom, #fff 0%, #f9c841 100%);
}


.banner-words-wrapper b {
  color: #fab702 !important;
}
.banner-headline .banner-words-wrapper:after {
  background: #fab702 !important;
}
